div{
    div
    {  
        p{
            margin-top: 50px;
            border:5px solid rgb(2, 2, 83);
            margin:20px;
            padding:20px;
            background-color:rgb(131, 248, 131);
            color:brown;
        }
    }


}
img{
    width:500px;
    height: auto;
    border:5px solid Gray;
    margin:20px;
}