@import 'bootstrap-modif';

.row div:nth-child(1) {
    background: lightpink;
}
.row div:nth-child(2) {
    background: lightyellow;
}
.row div:nth-child(3) {
    background: lightgreen;
}
.row div:nth-child(4) {
    background: lightblue;
}

.class{
    @extend .navbar;
    background-color: green;
}

.btn-success{
    border-radius:0rem;
}

// .row {
//     div:nth-child(1) {background: lightpink;}
//     div:nth-child(2) {background: lightyellow;}
//     div:nth-child(3) {background: lightgreen;}
// }

// .block-slogan, .block-action, .block-contact {
//     // Invocation des mixins du système de grille
//     @include make-sm-column(6);
//     @include make-md-column(4);
//     @include make-lg-column(3);
// }

// .block-testimonials {
//     // Invocation des mixins du système de grille
//     @include make-sm-column(6);
//     @include make-md-column(12);
//     @include make-lg-column(3);
//     background: lightblue;
// }